@import "abstracts/mixins";
@import "abstracts/variables";
@import "components/card";
@import "components/form";

* {
  margin: 0;
  padding: 0;
}
main {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  max-height: 100%;
  @include flexContainer;
  justify-content: space-evenly;
  background: $text-gray-100;
  flex-wrap: wrap-reverse;
  @media (max-width: 600px) {
    min-height: 110vh;
    // padding: 20px 0;
  }
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: $text-gray-100;
  @media (max-width: 768px) {
    padding: 20px 0;
  }
}
