//colors
$text-gray-100: #f7fafc;
$text-gray-200: #edf2f7;
$text-gray-300: #e2e8f0;
$text-gray-400: #cbd5e0;
$text-gray-500: #a0aec0;
$text-gray-600: #718096;
$text-gray-700: #4a5568;
$text-gray-800: #2d3748;
$text-gray-900: #1a202c;
//shadows
$base-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
