//colors
$text-gray-400: #cbd5e0;
$text-gray-600: #718096;
$text-gray-700: #4a5568;
//shadows
$base-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
